/*set overall background color*/
div {
    background-image: url("https://i.imgur.com/CMVvb3o.png");
    background-repeat: repeat;
    
}

table{
    margin:auto;
    text-align: center;
}

/*making header image responsive*/
.header .header_image{
    width: 100%;
    height: auto;
    max-width: 780px;
    min-width: 560px;
}

.content{
    text-align: center;
    background-color: white;
    font-family: font-family: 'Slabo 27px', serif;
    color:
}

/*making footer image responsive*/
.footer .footer_image{
    width: 100%;
    height: auto;
    max-width: 780px;
    min-width: 560px;
}